<div class="main">
    <div class="border">
        <div class="title">
            <i class="far fa-sticky-note"></i> Destaques da Atualizaçao 8.18
        </div>

        <br>
        <div class="player">
            <div class="video"></div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XUKDoN3SbNU?rel=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <br>
        <div class="title">
            <i class="far fa-sticky-note"></i> Trailer das skins Velho Oeste 2018
        </div>
        <br>
        <div class="player">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/m55TltdtNSQ?rel=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <br>
        <div class="title">
            <i class="far fa-sticky-note"></i> Campeão em Destaque: Nunu e Willump
        </div>
        <br>
        <div class="player">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Cp-BpWH_TXE?rel=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <br>
        <span class="youtube">
            <a href="https://www.youtube.com/user/RiotGamesBrasil" target="_blank">
                <i class="fab fa-youtube"></i> RiotGamesBrasil</a>
        </span>
        <br>
        <a href="https://br.leagueoflegends.com/pt/" target="_blank">Site oficial League of Legends</a>

    </div>
</div>
<link rel="stylesheet" href="css/att.css">