<div class="main">
    <div class="border">
        <h1>Bem Vindo</h1>
        <h2>League Of Friends</h2>
        <blockquote class="hometxt">Aqui você poderar encontrar informações sobre o Ranque seu e do seu amigo e o personagem que você ou seu amigo mais
            joga
            <br>
            <div class="img1">
                <img src="img/imgHome/index.png" alt="Exemplo do site">
            </div>
            <div class="info">
                As informações são baixadas da API oficial do League of Legends e salvas no local storage, As imformações são acessadas somente
                por você no local storage Key lolnick e também key tbAmigos
            </div>
        </blockquote>
    </div>
</div>