<div class="main">
    <span id="idPerfil"></span>
    <span id="iconePerfil"></span>
    <div id="nomePerfil"></div>
    <br>
    <br>
    <span id="levelPerfil"></span>
    <div class="eloMPerfil">
        <span class="eloIconePerfil"></span>
        <span class="ranqueado">
            <span class="queuePerfil"></span>
        </span>
        <br>
        <span class="eloPerfil"></span>
        <span class="posicaoPerfil"></span>
        <br>
        <span class="pontosPerfil"></span>
        <br>
    </div>
</div>
</div>
<script src="js/perfil.js"></script>
<link rel="stylesheet" href="css/perfil.css">